html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	  vertical-align: baseline;
	  font-family: inherit;
	  font-weight: inherit;
	  font-style: inherit;
	  font-size: 100%;
	  outline: 0;
	  padding: 0;
	  margin: 0;
}
/* remember to define focus styles! */
:focus {
	  outline: 0;
}
body {
	  background: white;
	  line-height: 1;
	  color: black;
}

/* brit's defaults */
* {
    box-sizing: border-box;
    max-width: 100%;
    /* Comment out when done debugging */
    /* border: 1px solid grey; */
}

/* General Styles  */

body {
    font-size: 62.5%;
}


/* Header Styles */

header {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 3%;
}
.title-container {
    padding: 1.5%;
}
h1 {
    font-size: 4.8em;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    font-family: sans-serif;
    width: 12%;
    background-color: white;
    height: 40px;
    border: 1px solid black;
    text-decoration: none;
    color: black;
}

nav .button {
    border-width: 1px 1px 1px 0px;
}
nav .button:first-child {
    border-width: 1px;
}

.button:hover {
    background-color: black;
    color: white;
}

header h2 {
    font-size: 4.8em;
    text-align: center;
}

header p {
    font-size: 1.2em;
    text-align: center;
    line-height: 1.8;
}

/* Main Styles */

.top {
    width: 100%;
    height: 600px;
    background-image: url("https://picsum.photos/600");
    background-size: cover;
    background-position: center;
}

.bottom {
    display: flex;
    align-items: center;
}

.left-container {
    width: 70%;
    display: flex;
}

.left-container .image-container {
    padding: 10px;
}

.right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-container .button {
    margin-top: 7%;
    width: 50%;
}

/* Footer Styles */

footer {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5%;
    background: indianred;
}

footer div {
    width: 20%;
}
.contact-info {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.contact-info a {
    color: black;
    text-decoration: none;
    font-size: 1.6em;
    line-height: 1.6;
    background: white;
    text-align: center;
}
